:root {
	--h1-text-width: 2em;
	--h1-text-multiplier: 2.9;
}

html, body {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-top: 0;
	border-bottom: 0;
}

body {
	position: relative;
	background-color: black;
	color: green;
	height: 97vh;
}



@media only screen and (min-width: 1030px) {
	body {
		margin-left: 20%;
		margin-right: 20%;
	}
}

#foreground {
	position: relative;
}

#background-code {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: -1;
	color: rgb(30,30,30);
	font-family: monospace;
	font-size: 0.8em;
}

h1 {
	color: green;
	text-shadow: 0em 0em 0.2em green;
	font-family: monospace;
	font-size: var(--h1-text-width);
	letter-spacing: 0.1em;
}

#header-animation {
	overflow: visible;
	display: inline-block;
}

.terminal-block {
	display: inline-block;
	animation: blink 2s step-start 2.5s infinite;
}

@keyframes blink {
	50% { opacity: 0; }
}

.body-container {
	display: flex;
}

.body-left {
	flex: 0 0 90%;
	animation: body-fade-in 1s 3s both;
}

.body-right {
	flex: 1;
	animation: body-fade-in 1s 4s both;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background-color: midnightblue;
	border-radius: 1em;
}

.body-right img {
	width: 70%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

p {
	font-family: monospace;
	word-wrap: break-word;
}

@keyframes body-fade-in {
	from { opacity: 0 }
	to { opacity: 1 }
}

p a {
	text-decoration: underline;
	text-shadow: 0em 0em 0.1em inherit;
}

p a:link {
	color: teal;
}

p a:hover {
	color: steelblue;
}

p a:visited {
	color: olivedrab;
}

